INTEGRATION_TESTING_WP_ROOT_FOLDER=/tmp/wordpress
INTEGRATION_TESTING_DB_NAME=VENDOR_SLUG_testing
INTEGRATION_TESTING_DB_HOST=VENDOR_SLUG_testing
INTEGRATION_TESTING_DB_HOST=127.0.0.1
INTEGRATION_TESTING_DB_USER=root
INTEGRATION_TESTING_DB_PASSWORD=root
INTEGRATION_TESTING_DB_PREFIX=wp_

E2E_TESTING_SITE_URL=https://VENDOR_SLUG.test
E2E_TESTING_ADMIN_USERNAME=admin
E2E_TESTING_ADMIN_PASSWORD=password
E2E_TESTING_DB_HOST=127.0.0.1
E2E_TESTING_DB_NAME=VENDOR_SLUG_e2e_testing
E2E_TESTING_DB_USER=root
E2E_TESTING_DB_PASSWORD=root
E2E_TESTING_DB_PREFIX=wp_