# root
vendor
node_modules
tests/_output/
codeception.yml
.wp/html

## repos
/src/Snicco/*/*/tests/_output/*
/src/Snicco/*/*/tests/_support/_generated
/src/Snicco/*/*/vendor
/src/Snicco/*/*/composer.lock

.make/.mk.env
.docker/.env
