# root
vendor
node_modules
tests/_output/
codeception.yml
.wp/html

## repos
/src/Snicco/*/*/tests/_output/*
/src/Snicco/*/*/tests/_support/_generated
/src/Snicco/*/*/vendor

.make/.mk.env
.docker/.env

# yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
