WP_ROOT_FOLDER=/tmp/wordpress
DB_NAME=snicco-enterprise
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=root
DB_PREFIX=wp_

E2E_TESTING_DB_HOST=127.0.0.1
E2E_TESTING_DB_NAME=wp_snicco_enterprise_e2e_testing
E2E_TESTING_DB_USER=root
E2E_TESTING_DB_PASSWORD=root
E2E_TESTING_DB_PREFIX=wp_
E2E_TESTING_SITE_URL=snicco-enterprise.test
E2E_TESTING_WP_ROOT_FOLDER=/tmp/wordpress