#
# =================================================================
# The current environment of the application
# =================================================================
#
# You should not need to change this value manually.
# Its handled in CI automatically.
#
ENV?=local
TAG?=latest

#
# =================================================================
# System user constants
# =================================================================
#
# This can be totally random on MacOs and Windows where
# Docker Desktop has the virtualization layer to auto configure
# permissions.
#
# On Linux these values should be set to the current user
# that is running docker.
#
# The individual dockerfiles will use these values
# in the build step and create the provided user.
#
APP_USER_ID=10000
APP_GROUP_ID=10001
#Setting the question mark for APP_USER_NAME allows to overrite this at runtime.
APP_USER_NAME?=snicco
APP_GROUP_NAME=snicco

#
# =================================================================
# Composer cache path
# =================================================================
#
# If you have composer installed locally on your machine
# you can leave this settings as is.
#
# This ensures that the docker container uses your local composer
# cache in order to not be very slow on each startup.
#
# If you dont have composer installed locally you can set this
# to any path that you like.
#
COMPOSER_CACHE_PATH=$(shell composer config --global cache-dir)

#
# =================================================================
# Composer auth settings
# =================================================================
#
# Some packages of this repository require github authentication.
#
# If you have composer installed locally on your machine
# you can leave this setting as is.
# If you dont have composer install your need to set this
# to any valid .json file that contains a valid json github auth object.
# (https://getcomposer.org/doc/articles/authentication-for-private-packages.md#manual-github-oauth)
#
COMPOSER_AUTH_JSON_PATH=$(shell composer config --global home)/auth.json

# https://docs.docker.com/compose/reference/envvars/#compose_docker_cli_build
COMPOSE_DOCKER_CLI_BUILD=1
# https://docs.docker.com/develop/develop-images/build_enhancements/#to-enable-buildkit-builds
DOCKER_BUILDKIT=1
